<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office to pdf</title>
 <style>
 body {
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
      }
      
      #inp {
        text-align: center;
        margin: auto;
      }
 </style>  
</head>
<body>
    <h1 style="margin-top: 100px; text-align: center; color: blue;">Excel fayl yuklang va arxiv fayl olasiz!</h1><br>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        
        
      <input id="inp" style="color: brown; border-width: 50px;" name="file" type="file" accept="office/*"><br><br><br>
        <input type="text" name="name" id="inp">
      <input id="inp" style="color: darkblue; border-width: medium;" type="submit" value="Faylni jo'natish">
      </form>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><hr>
      😉Uzur lekin chiroyga e'tibor berib meni so'kma😉
     
      

</body>
</html>